@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #e0f4f5;
  position: relative;
  height: 100%;
}

.topContainer,
.yearContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #324b71;
  width: 100vw;
  position: sticky;
  top: 0;
}

.yearContainer {
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
}

.year {
  font-size: 2rem;
  color: #74cdd2;
  cursor: pointer;
  animation: yearAnimation 3s ease-in-out 3s 2 alternate;
}

.arrows {
  font-size: 1.7rem;
  color: #db7006;
  cursor: pointer;
}

.year:hover,
.arrows:hover {
  color: #101820ff;
}

.yearJump {
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.month-container {
  margin: 20px;
}

.monthNameContainer {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;
}

.month-mode-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.arrows-month {
  font-size: 1.6rem;
  cursor: pointer;
}

.monthDates {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* margin: 25px; */
}

.date,
.day {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2aa4cff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
}

.day {
  background-color: #101820ff;
  color: #fff;
}

.date:hover {
  background-color: #243772;
}

.current {
  background-color: #243772;
}

@keyframes yearAnimation {
  from {
    /* transform: scale(1); */
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (min-width: 660px) {
  .mode-month .date,
  .mode-month .day {
    width: 60px;
    height: 60px;
    border-radius: 0;
    font-size: 1.5rem;
    color: #fff;
  }
}
